body {
    background-color: lightgrey;
}
body h1 {
    text-align: center;
    color: #c12e2a;
    margin-top: 5%;
    margin-bottom: 5%;
}

body div div input {
    border-radius:7px;
}


.folder  {
    border: 1px solid blue;
    border-radius:5px;
    background: radial-gradient(grey, darkgrey);
    color: white;
    height: 80px;
    font-size: 15px;
    padding: 1%;
}
.folder:hover{
    border: 1px solid red;
    border-radius:5px;
    background: linear-gradient(darkgrey, grey);
    color: white;
    height: 80px;
    font-size: 15px;
    padding: 1%;
    transition: background 3s;
}

@media screen and (min-width: 769px){
    .ligne {
        
        margin-right: 2%;
        margin-bottom: 15px;
        width: 25%;
    }
}

@media screen and (max-width: 768px){
    .ligne {
        margin-bottom: 2%;
    }
}



